<%= stylesheet_pack_tag 'stylesheets/series_lists' %>
<% series_list = (@series_list.get_list)%>
<div class="row">
	<% series_list.first(10).each do |id| %>
		<% series = @series_list.get_series(id) %>
		<div class="col-md-3">
			<div class="card" style="width:500px">
			  <img class="card-img-top" src="https://image.tmdb.org/t/p/w342/<%= series["poster_path"]%>" alt="no image" onerror="noImage(this);">
			  <div class="card-img-overlay">
			    <h1 class="card-title"><%= series['name']%></h1>
				<div class="container"/>
					<div class="row">
						<div class="col-4 metadata">
							<i class="fa fa-star" aria-hidden="true"></i> 
							<p><%= series['vote_average'] %>/10</p>
						</div>
						<div class="col-8 metadata"><%= @series_list.get_genres(series,3) %></div>
					</div>
				</div>
				<p class="card-text"> <%= series['overview']%></p>
				</div>
			</div>
		</div>
	<% end %>
</div>
