<%= stylesheet_pack_tag 'stylesheets/shared' %>
<div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <div id="wholebar">
        <a href="/">Popular</a><br>
        <% if has_recommended %>
            <a href="/recommended">Recommendations</a><br>
        <% end %>
        <% if user_signed_in? %>
          <a href="#">My Searches</a><br>
        <% end %>


        <div class="wrap">
            <form action="/searches/checks" method="post" onsubmit="event.preventDefault();submitSearch(this)">
              <div class="search">
                <input type="text" class="searchTerm" type="search" placeholder="Game of Thrones" id ='query' name="query">
                <button type="submit" class="searchButton" >
                    <i class="fa fa-search"></i>
                </button>
              </div>
                <% if has_search %>
                  <div class="btn-group " id="searchbuttons" role="group" name="search_type">
                    <button type="button" class="btn btn-secondary" onclick="new_search(true)">New Search</option>
                    <button type="button" class="btn btn-secondary" onclick="new_search(false)">Continue Search</option>             
                  </div>
                <% end %>
            </form>
        </div>

        <div class="bottom">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
          <%= link_to "About", new_user_session_path %>
        </div>
    </div>
    <div id="smallbar">
        <i class="fas fa-tv fa-3x icons"></i><br>
        <i class="fas fa-star fa-3x icons"></i><br>
        <i class="fas fa-search fa-3x icons"></i><br>
        <div class = "bottom">
          
          <i class="fas fa-user fa-3x icons"></i><br>
          <% if user_signed_in? %>
            <i class="fas fa-sign-out-alt fa-3x icons"></i><br>
          <% else %>
            <i class="fas fa-sign-in-alt fa-3x icons"></i><br>
          <% end %>
          <i class="fas fa-info-circle fa-3x icons"></i><br>
        </div>
    </div>
</div>

<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Would you like to start a new search?
      </div>
      <div class="modal-footer">
        <button type="button" id="continueSearchButton" class="btn btn-secondary" data-dismiss="modal" onclick="SessionButtonpress(false)">No</button>
        <button type="button" id="newSearchButton" class="btn btn-primary" data-dismiss="modal" onclick="SessionButtonpress(true)">Yes</button>
      </div>
    </div>
  </div>
</div>
