<%= stylesheet_pack_tag 'stylesheets/shared' %>
<% series_list = local_assigns[:locals][:series_list] %>
<section id="media_results">

	<div class="parent">
		<% (series_list.get_list).first(10).each do |id| %>
			<% series = series_list.get_series(id) %>
			<div class="card tile" onmouseover="InfoToggle(this,true,<%= series['vote_average'] %>)" onmouseout="InfoToggle(this,false,<%= series['vote_average'] %>)" >
				<img class="card-img-top inner-img" src="https://image.tmdb.org/t/p/w342/<%= series["poster_path"]%>" alt="no image" onerror="noImage(this);"> 
				<div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
					<div class="inner">
						<h1 class="card-title"><%= series['name']%></h1>
						<div class="container" />
							<div class="row">
								<div class="col-8 metadata">
									<div class="rating">
										<div class="rating-upper" style="width: 0%">
											<span class="fa fa-star" aria-hidden="true"></span>
											<span class="fa fa-star" aria-hidden="true"></span>
											<span class="fa fa-star" aria-hidden="true"></span>
											<span class="fa fa-star" aria-hidden="true"></span>
											<span class="fa fa-star" aria-hidden="true"></span>
										</div>
										<div class="rating-lower">
											<span class="fa fa-star" aria-hidden="true"></span>
											<span class="fa fa-star" aria-hidden="true"></span>
											<span class="fa fa-star" aria-hidden="true"></span>
											<span class="fa fa-star" aria-hidden="true"></span>
											<span class="fa fa-star" aria-hidden="true"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<p class="card-text"> <%= series['overview']%></p>
						<div id="thumbs">
							<i class="fas fa-thumbs-up" aria-hidden="true" onclick="showrating(<%= series['id']%>, true, <%= series_list.search_id %>,this )"></i>
							<i class="fas fa-thumbs-down" aria-hidden="true" onclick="showrating(<%= series['id']%>, false, <%= series_list.search_id%>,this )"></i>
						</div>
						<i class="btn more-button fas fa-caret-down" data-toggle="modal" data-target="#exampleModal"></i>
					</div>
				</div>
			</div>
			<div id="exampleModal" class="modal" tabindex="-1">
				<div class="modal-container">
					<h1 class="card-title item0"><%= series["genres"]%></h1>
					<div class= "item1">
						<img class="image" src="https://image.tmdb.org/t/p/w342/<%= series["poster_path"]%>" alt="no image" onerror="noImage(this);">
					</div>
					<div class= "infoItem">
						<div class="column-child heading">
							Genre: 
						</div>
						<div class="column-child">
							<% genres = "" %>
							<% series["genres"].each_with_index do |genre, index| %>
								<% if index != series["genres"].size - 1 %>
									<% genres += genre["name"] + ", " %>
								<% else %>
									<% genres += genre["name"] %>
								<% end %>
							<% end %>
							<%= genres %>
						</div>
					</div>
					<div class= "starItem">
						<div class="column-child heading">
							rating: 
						</div>
						<div class="column-child">
							attack movies
						</div>
					</div>
					<div class= "infoItem">
						<div class="column-child heading">
							year: 
						</div>
						<div class="column-child">
							attack movies
						</div>
					</div>
					<div class= "infoItem">
						<div class="column-child heading">
							cast: 
						</div>
						<div class="column-child">
							attack movies
						</div>
					</div>
					<div class= "synops">
						<div class="column-child heading">
							synopsis: 
						</div>
						<div class="column-child">
							attack movies
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>
